  .photo-box {
      position: relative;
      overflow: hidden;
      height: auto
  }

  .photo-box img {
      position: relative;
      max-width: 100%;
      z-index: 0
  }

  .photo-box .overlay {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, .5);
      z-index: 5;
      top: 0;
      width: 100%;
      height: 260px;
      transition-duration: .3s
  }

  .photo-box .icon {
      position: relative;
      text-align: center;
      border: 1px dashed rgb(255 255 255);
      margin: 15px;
      padding: 15px;
      transition-duration: .4s
  }

  .photo-box:hover .overlay {
      background-color: rgba(6, 98, 128, 0.6)
  }

  .photo-box:hover .icon {
      border: 1px solid #fff;
      padding: 45px 15px
  }

  .photo-box .icon img {
      margin: 0 auto;
      margin-bottom: 10px;
      transition-duration: .3s
  }

  .photo-box:hover .icon img {
      width: 0;
      opacity: .0
  }

  .photo-box .btn-view {
      display: none;
      background-color: #fff;
      padding: 6px 1px;
      text-decoration: none;
      margin-top: 10px
  }

  .photo-box:hover .btn-view {
      display: block
  }

  .photo-box p span {
      color: #fff;
      font-size: 1.56em;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
      display: block;
      border-bottom: 1px solid #fff
  }

  .photo-box:hover .icon span {
      border-bottom: 0
  }

  .photo-box p:hover overlay {
      border-bottom: 0
  }

  .photo-box p span::first-letter {
      color: #f8c845;
      font-size: 1.856em;
      font-weight: 600;
      font-family: 'Inter', sans-serif;
  }

  .recentevents {
      background-image: url(https://ranchiuniversity.co.in/images/explore/recentimg.jpg);
      background-repeat: no-repeat;
      background-size: cover
  }

  .sub-events {
      background-color: rgba(255, 255, 255, .9);
      padding-bottom: 25px;
      padding-top: 7px;
  }

  .sub-events .btn {
      font-size: 1.2em
  }